.button {
    -fx-font-size: 16px;
    -fx-background-color: #ffffffaa; /*white with a bit transparency */
    -fx-text-fill: #000000;
    -fx-background-radius: 10; /* give a radius to the buttons */
    -fx-cursor: hand;
    -fx-pref-width: 200px;
}

.button:hover {
    -fx-background-color: #ffffff; /*on hover make the background white */
}

.button:pressed{ /*on click */
     -fx-scale-x: 0.95;  /*make  x, y 95% */
     -fx-scale-y: 0.95;
     -fx-translate-y: 2; /* and give a depth */
}