   #WelcomeLbl{
    -fx-font-size: 25px;
   }

   TextField, PasswordField{
     -fx-font-size: 17px;
     -fx-background-color: #ffffff; /*white with a bit transparency */
     -fx-text-fill: #000000;
     -fx-background-radius: 15; /* give a radius to the buttons */
     -fx-cursor: hand;
     -fx-max-width:400px;
   }

   #loginBtn {
    -fx-font-size: 17px;
    -fx-background-color: #ffffffaa; /*white with a bit transparency */
    -fx-text-fill: #000000;
    -fx-background-radius: 15; /* give a radius to the buttons */
    -fx-cursor: hand;
    -fx-pref-width: 250px;
   }

   #loginBtn:hover {
    -fx-background-color: #ffffff; /*on hover make the background white */
   }

   #loginBtn:pressed{ /*on click */
     -fx-scale-x: 0.95;  /*make  x, y 95% */
     -fx-scale-y: 0.95;
     -fx-translate-y: 2; /* and give a depth */
   }

   #signupLbl{
     -fx-font-size: 17px;
     -fx-text-fill: #000000;
   }

   #signUpBtn{
      -fx-font-size: 17px;
      -fx-background-color: #ffffffaa; /*white with a bit transparency */
      -fx-text-fill: #000000;
      -fx-background-radius: 15; /* give a radius to the buttons */
      -fx-cursor: hand;
   }

   #signUpBtn:hover {
      -fx-background-color: #ffffff; /*on hover make the background white */
   }

   #signUpBtn:pressed{ /*on click */
        -fx-scale-x: 0.95;  /*make  x, y 95% */
        -fx-scale-y: 0.95;
        -fx-translate-y: 2; /* and give a depth */
   }